[hidden] {
  display:none;
}
svg:not(:root){overflow:hidden;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}
button,input{line-height:normal;}
button{-webkit-appearance:button;cursor:pointer;}

body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

img
  max-width 100%
