@import '_normalize.styl'
@import '_typography.styl'

body
  background offwhite

.main-container
  max-width 800px
  margin 0 auto
  margin-bottom 40px

.main-container__heading
  font-size 32px
  margin 40px
  text-align center

.main-container__bar-chart
  margin-top 40px
  text-align center

/*  
  Buttons  
*/  
button, .button
  border 2px solid lighten(grey, 90%)
  background none
  flex-basis 48%
  display inline-block
  line-height 2
  text-decoration none
  padding 5px
  text-align center
  font-size 15px
  color blue
  transition all 0.2s
  box-sizing padding-box
  &:hover, &:focus
    border-color blue
    outline 0

.btn
  border-radius 4px
  box-sizing border-box
  width 49%

.btn--primary
  background #e96125
  border 1px solid #e96125
  color #fcfcfc
  margin-right 2%

.btn--primary:hover
.btn--primary:focus
  background #d44506
  border-color #d44506

.btn--secondary
  background #fcfcfc
  border 1px solid #e96125
  color #e96125

.btn--secondary:hover
.btn--secondary:focus
  background #fff
  border-color #e96125

/*
  Dropdown
*/
.Dropdown-root
  position relative

.Dropdown-control
  position relative
  overflow hidden
  background-color white
  border 1px solid #ccc
  border-radius 2px
  box-sizing border-box
  color #333
  cursor default
  outline none
  padding 8px 52px 8px 10px
  transition all 200ms ease

.Dropdown-menu
  background-color white
  border 1px solid #ccc
  box-shadow 0 1px 0 rgba(0,0,0,0.06)
  box-sizing border-box
  margin-top -1px
  max-height 200px
  overflow-y auto
  position absolute
  top 100%
  width 100%
  z-index 1000
  -webkit-overflow-scrolling touch

.Dropdown-option
  box-sizing border-box
  color rgba(51,51,51,0.8)
  cursor pointer
  display block
  padding 8px 12px

/*
  Puzzle
*/
.puzzle-grid
  border 1px solid #ccc
  border-radius 4px
  margin-bottom 24px

.puzzle-grid--error
  border 2px solid #ff0000

.puzzle-grid__question
  background #666
  border-radius 4px 4px 0 0
  font-size 14px
  color #fcfcfc
  padding 12px

.puzzle-grid__option
  font-size 12px
  padding 16px
  width 50%
